<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is a calculator</h1>
    <form action="/" method="POST">

        <table border="1" cellspacing="0">
            <tr>
            <th colspan="4" bgcolor="99EB50" >NCD Risk Assessement Checklist</th>
            </tr>
            <tr bgcolor="lightblue">
            <th>Question</th>
            <th>Range   </th>
            <th>    Circle Any</th>
            <th>Score</th>
            
            
            </tr>
            <tr>
            <th>1.What is your age?<br/>(in complete years)</th>
            
            <th>30-39<br>40-49</br>50-59<br>>60</th>
            <th>0</br> 1</br> 2</br> 3  </th>
            <td><input type="number" name="num1" placeholder="Enter num1" id=""></td>
            
            </tr>
            
            <tr>
            <th>2.Do you smoke or<br/> Consume smokeless<br> product like Gutka or Khaini
            <br/>(in complete years)</th>
            
            <th>Never<br>some times now</br>daily</th>
            <th>0</br> 1</br> 2 </th>
            <td><input type="number" name="num2" placeholder="Enter num2" id=""></td>
            
            </tr>
            
            <tr>
            <th>3. Do you consume<br/> alcohol daily?
            
            
            </th>
            
            <th>yes<br>No</th>
            <th>0</br> 1 </th>
            <td> <input type="number" name="num3" placeholder="Enter num3" id=""></td>
            
            </tr>
            
            <tr>
            <th rowspan="4">4. Measurement of <br/>waist in (Cm)
            
            
            
            
            </th>
            <th colspan="1">&emsp;Male &emsp;&emsp;&emsp; Female</th>
            <td colspan="1"></td>
            <td rowspan="4"><input type="number" name="num4" placeholder="Enter num4" id=""></td>
            
            <tr>
            <td colspan="1"><80cm&emsp;&emsp;&emsp;&emsp;<90cm</td>
            <th colspan="1">&emsp;0</th>
            <tr>
            <td colspan="1">81-90cm&emsp;&emsp;&emsp;90-100cm</td>
            <th colspan="1">&emsp;1</th>
            <tr>
            <td colspan="1">>90cm&emsp;&emsp;&emsp;&emsp;>100cm</td>
            <th colspan="1">&emsp;2</th>
            </tr>
            </tr>
            </tr>
            <tr>
            
            </tr>
            
            </tr>
            
            
            <tr>
            <th>5. Do you undertake<br/>
             any physical activities<br/>
             for a minimum of 150 <br/>
            minutes a week?
            
            
            </th>
            
            <th>At  least 150 minutes a week<br/>At  least 150 minutes a week
            
            
            
            </th>
            <th>0</br> 1 </th>
            <td><input type="number" name="num5" placeholder="Enter num5" id=""></td>
            
            </tr>
            
            
            <tr>
            <th>6. Do you have a family <br/>
            history (any one of your <br/>
            parents or siblings) of <br/>
            high blood pressure,<br/>
             diabetes and heart disease?
            
            
            
            
            
            </th>
            
            <th>No<br/>Yes
            
            
            
            </th>
            <th>0</br> 2 </th>
            <td><input type="number" name="num6" placeholder="Enter num6" id=""></td>
            
            </tr>
            <tr>
            <th colspan="4" bgcolor="F6E2DD">Total score:
             A score above 4 indicates that the person may be at higher risk of NCDs and needs to be prioritized for attending screening for following NCDs and then confirmed if there is any of them.
            1.Diabetes,
            2.Hypertension,
            3.Breast Cancer,
            4.Cervical Cancer,
            5.Oral Cancer.
            
            
            </th>
            
            </tr>
            
            
            
            </table>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          







            <input type="submit" value="Add" align="center">
       
       <!-- <button type="submit">Add</button>-->
    </form>
</body>

</html>